@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #e76f51;
    --secondary-color: #fbbc04;
    --background-color: #ffffff;
    --text-color: #202124;
    --font-family: 'Work Sans', sans-serif;
}

/* Common style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* header  */

header {
    background: blanchedalmond;
    overflow: hidden;

}

.navbar {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: #e76f51;
    font-size: 2.5rem;
}

.navbar .logo span {

    color: var(--text-color);
}

.navLinks {
    display: flex;
    gap: 20px;
    align-items: center;

}

.navLinks .nav-item {
    list-style: none;
}

.navLinks .nav-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: .6s ease;
}

.navLinks .nav-item .active {
    color: #e76f51;
}

.navLinks .nav-item a:hover {
    color: var(--primary-color);
}

/* Banner Section */

.banner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.banner-contant {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-contant .banner-title {
    line-height: 4rem;
    font-size: 4rem;
    margin-bottom: 30px;
}

.banner-contant p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 500;
    margin-bottom: 30px;

}

#btn {
    background: var(--primary-color);
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: .6s ease-in;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

#btn:hover {
    background-color: #fbbc04;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}

.banner img {
    width: 100%;
    height: 100%;
}

/* Team  */

main {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.teams {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 50px 0;
}

/* image grid */
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-img-container img {
    width: 100%;
    display: block;
    cursor: pointer;
    transition: all .6s ease-in;
    border-radius: 10px;
    filter: grayscale(40%);
}

.team-img-container img:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    filter: grayscale(0);
}

/* text area */
.our-features {
    max-width: 500px;
}

.feature-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.feature-title span {
    color: var(--text-color);
}

.feature-description {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #444;
}

/* Features Section */

.features-container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 100px;

}

.features-descrpton {
    margin-top: 30px;
}


.about-contant {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 4px solid #e76f51;

}

.about-contant .features-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about-contant p {
    color: #444;
    font-size: .9rem;
}

.feature-box {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* img contaner */


.img-contant {
    width: 600px;
}

.img-contant img {
    width: 100%;
}

.exparians-btn {
    padding: 10px 30px;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--primary-color);
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 5px;
    transition: .6s ease-in;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.exparians-btn:hover {
    background: var(--secondary-color);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);

}

/* Some Feacts */

.same-facts {
    padding-bottom: 20px;
}

.same-facts .same-titel {
    font-size: 2rem;
    margin-bottom: 10px;
}

.same-facts p {
    width: 500px;
    font-size: .9rem;
    color: #444;
    margin-bottom: 10px;
}

.same-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;

}

.card {
    width: 220px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px #444;
    border-radius: 5px;
    cursor: pointer;
}

.card .title-words {
    font-size: 2rem;
    font-weight: bold;

}

/* sonspors */


#sponspors-section {
    padding: 80px 0;
}

.sponspore-contant {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}


.sponspore-contant h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: 1px 2px 10px #fbbc04;
}

.sponspore-contant p {
    font-size: .9rem;
    line-height: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

.sponesr-compani {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.sponesr-compani img {
    filter: grayscale(100%);
}

/* footer section */

.footer-contant {
    text-align: center;
    padding: 20px 0;
    background: #fbbd042c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

/* responsive */

@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
    }

    .navbar .logo {
        margin: 5px 0;
        font-size: 2rem;
    }

    .navLinks {
        flex-direction: column;
        gap: 10px;
        font-size: 1rem;
    }

    .banner {
        padding-top: 10px;

    }

    .banner-contant {
        padding: 0 5px;
    }

    .banner-contant .banner-title {
        line-height: 2.4rem;
        font-size: 2rem;
        margin-bottom: 10px;

    }

    .banner-contant p {
        color: var(--text-color);
        font-size: 1rem;
        margin-bottom: 14px;

    }

    #btn {

        padding: 10px 15px;
        border-radius: 8px;
        margin-bottom: 10px;
        font-size: 1rem;

    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    main {
        padding: 10px;
    }

    .teams {
        flex-direction: column;

    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .team-img-container img {
        width: 100%;
    }

    .our-features {
        text-align: center;
        margin-top: -50px;
    }

    .features-container {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .features-descrpton {
        margin-top: 8px;
    }

    .about-contant .features-title {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }

    .feature-box {
        font-size: .7rem;

    }

    .img-contant {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .img-contant img {
        width: 100%;
    }

    .exparians-btn {
        padding: 10px 20px;
        font-size: 1rem;
        margin-top: 5px;

    }

    .same-facts .same-titel {
        text-align: center;

    }

    .same-facts p {
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 8px;

    }

    .same-cards {
        grid-template-columns: 1fr;
        gap: 5px;

    }

    .card {
        width: 70%;
        margin: 5px 0;

    }

    .sponesr-compani {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .sponspore-contant h2 {
        font-size: 1.9rem;
    }

    .sponspore-contant p {
        font-size: .7rem;
        line-height: 1rem;
        color: rgba(0, 0, 0, 0.5);
    }

    #sponspors-section {
        padding: 20px 0;
    }

    .sponspore-contant {
        max-width: 600px;
        width: 80%;
        font-weight: bold;
    }

    .footer-contant {
        text-align: center;
        padding: 15px 0;
    }

    .footer-title {
        font-size: 1rem;

    }

}

@media screen and (min-width:577px) and (max-width:776px) {

    .navbar {
        flex-direction: column;
    }

    .navbar .logo {
        margin: 5px 0;
        font-size: 2rem;
    }

    .navLinks {
        flex-direction: column;
        gap: 10px;
        font-size: 1rem;
    }

    .banner {
        padding-top: 10px;

    }

    .banner-contant {
        padding: 0 5px;
    }

    .banner-contant .banner-title {
        line-height: 2.4rem;
        font-size: 2rem;
        margin-bottom: 10px;

    }

    .banner-contant p {
        color: var(--text-color);
        font-size: 1rem;
        margin-bottom: 14px;

    }

    #btn {

        padding: 10px 15px;
        border-radius: 8px;
        margin-bottom: 10px;
        font-size: 1rem;

    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    main {
        padding: 10px;
    }

    .teams {
        flex-direction: column;

    }

    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-img-container img {
        width: 100%;
    }

    .our-features {
        text-align: center;
        margin-top: -50px;
    }

    .features-container {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .features-descrpton {
        margin-top: 8px;
    }

    .about-contant .features-title {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }

    .feature-box {
        font-size: .7rem;

    }

    .img-contant {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .img-contant img {
        width: 100%;
    }

    .exparians-btn {
        padding: 10px 20px;
        font-size: 1rem;
        margin-top: 5px;

    }

    .same-facts .same-titel {
        text-align: center;

    }

    .same-facts p {
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 8px;

    }

    .same-cards {
        grid-template-columns: 1fr;
        gap: 5px;

    }

    .card {
        width: 70%;
        margin: 5px 0;

    }

    .sponesr-compani {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .sponspore-contant h2 {
        font-size: 1.9rem;
    }

    .sponspore-contant p {
        font-size: .7rem;
        line-height: 1rem;
        color: rgba(0, 0, 0, 0.5);
    }

    #sponspors-section {
        padding: 20px 0;
    }

    .sponspore-contant {
        max-width: 600px;
        width: 80%;
        font-weight: bold;
    }

    .footer-contant {
        text-align: center;
        padding: 15px 0;
    }

    .footer-title {
        font-size: 1rem;

    }


}

@media screen and (min-width:778px) and (max-width:976px) {


    .navbar {
        flex-direction: column;
    }

    .navbar .logo {
        margin: 5px 0;
        font-size: 2rem;
    }

    .navLinks {
        flex-direction: column;
        gap: 10px;
        font-size: 1rem;
    }

    .banner {
        padding-top: 10px;

    }

    .banner-contant {
        padding: 0 5px;
    }

    .banner-contant .banner-title {
        line-height: 2.4rem;
        font-size: 2rem;
        margin-bottom: 10px;

    }

    .banner-contant p {
        color: var(--text-color);
        font-size: 1rem;
        margin-bottom: 14px;

    }

    #btn {

        padding: 10px 15px;
        border-radius: 8px;
        margin-bottom: 10px;
        font-size: 1rem;

    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    main {
        padding: 10px;
    }

    .teams {
        flex-direction: column;

    }

    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-img-container img {
        width: 100%;
    }

    .our-features {
        text-align: center;
        margin-top: -50px;
    }

    .features-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .features-descrpton {
        margin-top: 8px;
    }

    .about-contant .features-title {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }

    .feature-box {
        font-size: .7rem;

    }

    .exparians-btn {
        padding: 10px 30px;
        border: none;
        font-size: 1.5rem;
        font-weight: 600;
        background: var(--primary-color);
        margin-top: -50px;
        margin-left: -300px;
        border-radius: 5px;
        transition: .6s ease-in;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }

    .img-contant {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .img-contant img {
        width: 100%;
    }



    .same-facts .same-titel {
        text-align: center;

    }

    .same-facts p {
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 8px;

    }

    .same-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

    }

    .card {
        width: 70%;
        margin: 5px 0;

    }

    .sponesr-compani {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .sponspore-contant h2 {
        font-size: 1.9rem;
    }

    .sponspore-contant p {
        font-size: .7rem;
        line-height: 1rem;
        color: rgba(0, 0, 0, 0.5);
    }

    #sponspors-section {
        padding: 20px 0;
    }

    .sponspore-contant {
        max-width: 600px;
        width: 80%;
        font-weight: bold;
    }

    .footer-contant {
        text-align: center;
        padding: 15px 0;
    }

    .footer-title {
        font-size: 1rem;

    }



}